services:
  db:
    image: postgres:16
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: ${APP_DB_USER}
      POSTGRES_DB: ${APP_DB_NAME}
      POSTGRES_PASSWORD: ${APP_DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    build:
      context: .
    env_file:
      - .env
    restart: always
    volumes:
      - .:/app
    container_name: app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: